body{
    background-image: url("images/tile.png");
	color: #444;
	width: 960px;
	margin: auto;
}
header{
    background: #D36832;
	color: #FFF;
	border-bottom: 5px solid #387A9B;
}
h1{
	font-size: 36px;
	text-align: center;
	
}

nav ul {
	display: block;
}

nav li {
	
	display: block;
}
nav {
	/* float: left; */
	
	/* border: 1px solid black; */
	text-align: center;
}

main {	
	/* border: 1px solid black; */
	
}

footer{
    background: #387A9B;
	color: #fff;
	clear: both;
}

#container {
	background-color: white;
	
}

.column_element_nav {
	float: left;
	width: 15%;
}

.column_element_main {
	padding-right: 20px;
	float: left;
	width: 55%;
}

.column_element_aside {
	float: left;
	width: 25%;
	padding-bottom: 20px;
}

a:link{
	color: #175B7D; 
}

a:visited{
	color: #600; 
}
	
a:hover, a:active{
	color: #fff;
	background: #175B7D;
}
.border { 
	border: 10px solid #387A9B;
 }

img{
	 margin: 5px;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
 }

h2{
	color: #D36832;
}
aside {
	text-align: center;
	
}

.shadow_class {
	transition-duration: 250ms;
	-webkit-box-shadow: 35px 32px 16px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: 35px 32px 16px -17px rgba(0,0,0,0.75);
	box-shadow: 35px 32px 16px -17px rgba(0,0,0,0.75);
}

footer p{
	text-align: right;
	padding: 10px;
}
